BugTrackingSystem/BugTrackingWebApplication/Connected Services/UserManagementServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserManagementService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BugTrackingService" />
      <xsd:import />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserManagementService_AddUserRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserRecord" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_AddUserRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_GetAllUserRecordsByRole_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserRecordsByRole" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_GetAllUserRecordsByRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserRecordsByRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_GetUserRecordByPersonId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRecordByPersonId" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_GetUserRecordByPersonId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRecordByPersonIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_GetUserRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRecord" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_GetUserRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_DeleteUserRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserRecord" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_DeleteUserRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_UpdateUserRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserRecord" />
  </wsdl:message>
  <wsdl:message name="IUserManagementService_UpdateUserRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserRecordResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserManagementService">
    <wsdl:operation name="AddUserRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementService/AddUserRecord" message="tns:IUserManagementService_AddUserRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementService/AddUserRecordResponse" message="tns:IUserManagementService_AddUserRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserRecordsByRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementService/GetAllUserRecordsByRole" message="tns:IUserManagementService_GetAllUserRecordsByRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementService/GetAllUserRecordsByRoleResponse" message="tns:IUserManagementService_GetAllUserRecordsByRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRecordByPersonId">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementService/GetUserRecordByPersonId" message="tns:IUserManagementService_GetUserRecordByPersonId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementService/GetUserRecordByPersonIdResponse" message="tns:IUserManagementService_GetUserRecordByPersonId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementService/GetUserRecord" message="tns:IUserManagementService_GetUserRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementService/GetUserRecordResponse" message="tns:IUserManagementService_GetUserRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementService/DeleteUserRecord" message="tns:IUserManagementService_DeleteUserRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementService/DeleteUserRecordResponse" message="tns:IUserManagementService_DeleteUserRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagementService/UpdateUserRecord" message="tns:IUserManagementService_UpdateUserRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagementService/UpdateUserRecordResponse" message="tns:IUserManagementService_UpdateUserRecord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserManagementService" type="tns:IUserManagementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUserRecord">
      <soap:operation soapAction="http://tempuri.org/IUserManagementService/AddUserRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserRecordsByRole">
      <soap:operation soapAction="http://tempuri.org/IUserManagementService/GetAllUserRecordsByRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRecordByPersonId">
      <soap:operation soapAction="http://tempuri.org/IUserManagementService/GetUserRecordByPersonId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRecord">
      <soap:operation soapAction="http://tempuri.org/IUserManagementService/GetUserRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserRecord">
      <soap:operation soapAction="http://tempuri.org/IUserManagementService/DeleteUserRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserRecord">
      <soap:operation soapAction="http://tempuri.org/IUserManagementService/UpdateUserRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserManagementService">
    <wsdl:port name="BasicHttpBinding_IUserManagementService" binding="tns:BasicHttpBinding_IUserManagementService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/BugTrackingService/UserManagementService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>