BugTrackingSystem/BugTrackingWebApplication/Connected Services/BugManagementServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BugTrackingService" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBugAlertRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BugTrackingService" minOccurs="0" name="bugAlert" nillable="true" type="q1:BugAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBugAlertRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBugAlertRecordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBugCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBugCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBugCategoriesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBugAlertRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bugId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBugAlertRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BugTrackingService" minOccurs="0" name="GetBugAlertRecordResult" nillable="true" type="q2:BugAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBugAlertRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BugTrackingService" minOccurs="0" name="filter" type="q3:BugAlertFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBugAlertRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllBugAlertRecordsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBugAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BugTrackingService" minOccurs="0" name="bugAlert" nillable="true" type="q4:BugAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBugAlertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBugAlertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBugAlertRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bugAlertId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBugAlertRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBugAlertRecordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimBugAlertResolution">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bugId" type="xs:int" />
        <xs:element minOccurs="0" name="developerId" type="xs:int" />
        <xs:element minOccurs="0" name="assignedBy" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimBugAlertResolutionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClaimBugAlertResolutionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreatBugAlertResolution">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bugId" type="xs:int" />
        <xs:element minOccurs="0" name="developerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetreatBugAlertResolutionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetreatBugAlertResolutionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolveBugAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BugTrackingService" minOccurs="0" name="bugAlert" nillable="true" type="q5:BugAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolveBugAlertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResolveBugAlertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>